@import "../../assets/styles/_global.scss";

.Main-Body {
    max-width: 100%;
    text-align: left;

    img {
        width: 100%;
    }

    section:nth-child(2) {
        margin: 3em 0;
    }

    h6:nth-child(1) {
        color: $primary_color;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
    }

    h3 {
        line-height: 2em;
        font-family: "Roboto", sans-serif;
    }

    h6:nth-child(3) {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        color: $second_color;
    }

    p {
        color: $second_color;
        text-align: justify;
    }
}
