@import "../../assets/styles/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.Contact-Main-Body {
    width: 100%;
    text-align: left;
    margin-bottom: 5em;

    .contact-container {
        max-width: 1240px;
    }

    .contact-cont > h3 {
        margin-bottom: 2em;
        font-family: "Montserrat", sans-serif;
    }

    p {
        color: $second_color;
        font-family: "Montserrat", sans-serif;
    }

    .con-icons {
        color: $primary_color;
        font-size: 30px;
    }

    .map-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 482px){
    .map iframe{
        width: 300px;
        height: 300px;

    }
}

@media only screen and (max-width: 360px){
    .map iframe{
        width: 250px;
        height: 250px;

    }
}

@media only screen and (max-width: 310px){
    .map iframe{
        width: 200px;
        height: 200px;

    }
}
