@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$flex : flex;
$font-family: 'Noto Sans', sans-serif;
$primary_color : #B0C364;
$second_color:  #989899;
$white : white;

.Header_Container{
    display: $flex;
    padding-top: 8em;
    padding-bottom: 3em;
    padding-left: 2em;
    flex-wrap: nowrap;
    font-family: $font-family;
    img{
        height: 20em;
        width: 26em;
        padding-left: 2em;

        // &:hover{
        //     // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        // }
    }

    .healthy{
        background: $white;
        width: 20em; 
        height: 8em;;
        position: absolute;
        top: 88%;
        left: 6.5%;
        text-align: center;
        border: 2px solid $white;
        outline: 2px solid $primary_color;
        outline-offset: -15px;

        &:hover{
            background: $primary_color;
            border: 2px solid $primary_color;
            outline: 2px solid $white;
            
            h6, p{
                color: $white;
            }

        }
 }

        h6{
            color: $primary_color;
            text-transform: uppercase;
            padding-top: 3em;
            font-weight: bold;
            font-size: 14px;
        }

    p{
        font-size: 24px;
        font-weight: bold;
        line-height: 1em;
    }

    .organic{
        background: $white;
        width: 20em; 
        height: 8em;;
        position: absolute;
        top: 88%;
        left: 38%;
        text-align: center;
        border: 2px solid $white;
        outline: 2px solid $primary_color;
        outline-offset: -15px;  
        
        &:hover{
            background: $primary_color;
            border: 2px solid $primary_color;
            outline: 2px solid $white;
            
            h6, p{
              color: $white;
            }
        }
    }

    .vegetarian{
        background: $white;
        width: 20em; 
        height: 8em;;
        position: absolute;
        top: 88%;
        left: 68.5%;
        text-align: center;
        border: 2px solid $white;
        outline: 2px solid $primary_color;
        outline-offset: -15px;

        &:hover{
            background: $primary_color;
            border: 2px solid $primary_color;
            outline: 2px solid $white;
            
            h6, p{
                color: $white;
            }
        }
    }
}