.home-blog-area-section-padding30{
    color:#212259;
    padding:150px 0px 140px;
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.justify-content-center{
    justify-content: center !important;
    margin: 0px 15px;
}
#container1{
    padding:0px 15px;
}
.mb-90{
    margin:0px 0px 90px;
}
.section-tittle span{
    display:inline-block;
    color:#292C37;
    text-transform:uppercase;
    font-weight: 600;
    margin-bottom: 22px;
    letter-spacing: 0.05em;
}
.section-tittle h2 {
    display: block;
    color:#1d2434;
    font-weight: 700;
    text-transform:uppercase;
    font-size: 50px;
    font-style:'Oswald',sans-serif;
    margin:0px 0px 5px;
}