@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranga&display=swap");
.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../assets/images/nav-img.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(../../assets/images/nav-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 7em;
  max-width: 100%;
}

.header .header-top {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header-top .header-icons {
  margin-top: 3em;
}

.header .header-top .header-icons a {
  color: white;
  margin-right: 20px;
}

.header .header-top .header-icons a:hover {
  color: #b0c364;
}

.header .header-top .navbar-search {
  margin-top: 2em;
}

.header .header-top .navbar-search .search-bar {
  position: relative;
  max-width: 24em;
  border-bottom: 2px solid gray;
}

.header .header-top .navbar-search .search-bar input[type="text"] {
  border: none;
  font-weight: lighter;
  background: transparent;
  padding-bottom: 0.8em;
  padding-top: 0.5em;
}

.header .header-top .navbar-search .search-bar input[type="text"]:focus {
  border-color: white;
  outline: none;
}

.header .header-top .navbar-search .search-bar input[type="text"]::-webkit-input-placeholder {
  font-style: italic;
}

.header .header-top .navbar-search .search-bar input[type="text"]:-ms-input-placeholder {
  font-style: italic;
}

.header .header-top .navbar-search .search-bar input[type="text"]::-ms-input-placeholder {
  font-style: italic;
}

.header .header-top .navbar-search .search-bar input[type="text"]::placeholder {
  font-style: italic;
}

.header .header-top .navbar-search .search-bar button {
  background: transparent;
  border: none;
  color: white;
}

.navbar-header-text {
  max-width: 100%;
}

.navbar-header-text .navbar-header-text-p1 {
  text-align: center;
  font-size: 7em;
  font-family: "Ranga", cursive;
}

.navbar-header-text .navbar-header-text-p2 {
  text-align: center;
  margin-top: -2.5em;
  margin-left: 7em;
  color: #787879;
  font-family: "Ranga", cursive;
  font-size: 1.8em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  display: block;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
}

.navbar ul li a:hover {
  color: #b0c364;
  text-decoration: none;
}

.navbar ul li .dropdown-menu {
  display: none;
}

.navbar ul li .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.navbar ul li .dropdown-menu ul li {
  width: 150px;
}

.navbar ul li .dropdown-menu ul li a:hover {
  background-color: black;
  color: white;
}

.navbar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #b0c364;
}

@media only screen and (max-width: 674px) {
  .navbar-icons {
    margin-top: 0;
  }
  .navbar-search {
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 366px) {
  .navbar_img .navbar-top .navbar-icons {
    margin-top: 3em;
    margin-left: 1em;
  }
  input[type="text"] {
    width: 12em;
  }
  .navbar-header-text .navbar-header-text-p2 {
    text-align: center;
    margin-top: -2.5em;
    margin-left: 7em;
    color: #989899;
    font-family: "Ranga", cursive;
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=Navbar.styles.css.map */