@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');

$primary_color : #B0C364;
$second_color:  #989899;
$position_absolute : absolute;
$font-family : 'Ranga', cursive;

.navbar_img {
    background: black;
    overflow: hidden;;
    width: 100%;
    height: 7em;

     img{
       object-fit: cover;
       opacity: 0.4;
   }

}

.navbar-top{
    color: white;
}
.navbar-icons{
    position: $position_absolute;
    top: 3em;
    left: 16px;
}

.navbar-search{
    position: $position_absolute;
    top: 2.5em;
    right: 2em;
    display: inline-flex;
}

input {
  outline: 0;
  border-width: 0 0 2px;
}
input:focus {
  border-color: white;
}

.navbar-header-text-p1{
    padding-left: 4.6em;
    font-size: 7em;
    font-family: $font-family ;
}

.navbar-header-text-p2 {
  position:$position_absolute;
  top: 37%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: $second_color;
  font-family: $font-family;
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #fff;
  position: sticky;
}

li {
  float: left;
}

li a {
  text-decoration: none !important;
  display: block;
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 14px 16px;
}

li a:hover{
  color: $primary_color;
}

.navbar-link-last{
    color: $second_color;
}


