@import "../../assets/styles/global.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


.sidebar-container {

    display: flex;
    margin: 3em 0;

    .img {
        max-width: 10em;
        max-height: 10em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        margin-left: 5em;

        a:hover{
            text-decoration: none;
        }

        h4{
            text-transform: uppercase;
            color: $primary_color;
            font-family: "Montserrat", sans-serif;
            font-size: .95em;
            font-weight: bolder;
            margin-bottom: 1.5em;
        }

        h3{
            font-family: "Montserrat", sans-serif;
            font-size: 1.1em;
            color: black;
            font-weight: bolder;
        }

        h3:hover{
            color: $primary_color;
        }

        h6{
            font-family: "Montserrat", sans-serif;
            color: $second_color;
        }
    }
}

@media only screen and (max-width: 592px){
    .info{
        margin-left: 2em !important;
    }
}

@media only screen and (max-width: 592px){
    .img{
        width: 7em;
        height: 7em;
    }
}
