@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.parent {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.Container {
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

.Container .Left-Container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.7em;
}

.Container .Left-Container .card-left-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 2fr;
      grid-template-columns: 1.2fr 2fr;
  -webkit-column-gap: 1.7em;
          column-gap: 1.7em;
}

.Container .Left-Container .card-left-parent .left-portion img {
  width: 100%;
  height: 18em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Container .Left-Container .card-left-parent .right-portion {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 3fr;
      grid-template-rows: 1fr 1fr 1fr 3fr;
}

.Container .Left-Container .card-left-parent .right-portion h3 {
  font-weight: bold;
}

.Container .Left-Container .card-left-parent .right-portion h3:hover {
  color: #b0c364;
}

.Container .Left-Container .card-left-parent .right-portion h5 {
  color: #b0c364;
  text-transform: uppercase;
  font-size: 0.87em;
  line-height: 3;
  font-weight: bold;
}

.Container .Left-Container .card-left-parent .right-portion h6 {
  text-transform: uppercase;
  font-size: 0.87em;
  font-weight: bold;
}

.Container .Left-Container .card-left-parent .right-portion h6,
.Container .Left-Container .card-left-parent .right-portion p {
  color: #787879;
}

.Container .Right-Container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 1.6em;
}

.Container .Right-Container .abs-div {
  position: relative;
  background-color: black;
}

.Container .Right-Container .abs-div span {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  width: 7em;
  height: 6em;
  color: white;
  font-size: 1.25em;
  font-style: italic;
}

.Container .Right-Container .abs-div img {
  width: 16.5em;
  height: 23.8em;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}

.Container .Right-Container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 2em;
}

.Container .Right-Container .cards .card-right-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4.8em 3fr;
      grid-template-columns: 4.8em 3fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.Container .Right-Container .cards .card-right-parent .left-portion img {
  width: 100%;
  height: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Container .Right-Container .cards .card-right-parent .right-portion h3 {
  font-size: 1em;
  font-weight: bold;
}

.Container .Right-Container .cards .card-right-parent .right-portion h6 {
  font-size: 0.8em;
}

@media only screen and (min-width: 993px) {
  .Container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% 22%;
        grid-template-columns: 75% 22%;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
}

@media only screen and (max-width: 992px) {
  .Container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 3em;
  }
}

@media only screen and (max-width: 1250px) {
  .Container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=Blog.styles.css.map */