@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$primary_color : #B0C364;
$second_color:  #787879;
.grid-container{
    padding-left: 4em;
    padding-right: 4em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

img{
    height: 38em;
    width: 38em;
    padding-top: 4em;
}

h3{
    font-weight: bold;
    &:hover{
        color: $primary_color;
    }
}

h5{
    color: $primary_color;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 3;
    padding-top: 7em;
}

h6{
    text-transform: uppercase;
    line-height: 3;
    font-size: 14px;
    font-weight: bold;
}

h6,p{
    color: $second_color;
}

p{
    padding: 0 2em 2em 2em;
    line-height: 2;
}

button{
    background-color: $primary_color;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: white;

    &:hover{
        background-color: black;
    }
}

}