@import "../../assets/styles/_global.scss";

.Post_Container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0 2em;

    section {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        max-width: 100%;
        gap: 2em;

        .image-container {
            flex: 1;
            max-width: 100%;

            img {
                height: 30em;
                width: 100%;
                object-fit: cover;
            }
        }

        .details {
            flex: 1;
            max-width: 100%;
            text-align: center;
        }

        button {
            background-color: $primary_color;
            padding: 15px 32px;
            text-align: center;
            cursor: pointer;
            border: none;
            color: white;
            &:hover {
                background-color: black;
            }
        }
    }
}

.Post_Container {
    font-family: "Roboto", sans-serif;
    h3 {
        font-weight: bold;

        &:hover {
            color: $primary_color;
        }
    }

    h5 {
        color: $primary_color;
        text-transform: uppercase;
        font-size: 0.8em;
        line-height: 3;
    }

    h6 {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: bold;
        line-height: 3;
    }

    h6,
    p {
        color: $second_color;
    }
}

@media only screen and (max-width: 1199px) {
    .Post_Container {
        max-width: 992px;

        img {
            height: 27em !important;
        }
    }
}

@media only screen and (max-width: 991px) {
    .Post_Container {
        max-width: 768px;

        section:nth-child(1) {
            flex-direction: column;
        }

        section:nth-child(2) {
            flex-direction: column-reverse;
        }
    }
}

@media only screen and (max-width: 767px) {
    .Post_Container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .Post_Container {
        img {
            height: 20em !important;
        }
    }
}

@media only screen and (max-width: 385px) {
    .Post_Container {
        img {
            height: 15em !important;
        }
    }
}

@media only screen and (max-width: 300px) {
    .Post_Container {
        img {
            height: 10em !important;
        }
    }
}